
@{
    ViewBag.Title = "CustomerHome";
}

<div class="jumbotron">
    <h1>Customer Homepage</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step Two: Let Us Know Your Troubles</h2>
        <p>Select your technical issue from a basic drop down menu, and add any details you can in the comment box.</p>
        <p><a class="btn btn-default" href="..\Customers\InputIssue" style="color:Blue">Submit Request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step Three: Rate Us!</h2>
        <p>Let us know how we did!  Rate us on a 5-star scale.</p>
        <p><a class="btn btn-default" href="..\Customers\RateHelp" style="color:Blue">Rate Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make Payment</h2>
        <p>See your outstanding balance and make payments to your account here.</p>
        <p><a class="btn btn-default" href="..\Customers\MakePayment" style="color:Blue">Make Payment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Available Technicians </h2>
        <p>View the technicians currently available.</p>
        <p><a class="btn btn-default" href="..\Technicians\Index" style="color:Blue">Go &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>View/Edit Profile</h2>
        <p>View and edit your profile.</p>
        <p><a class="btn btn-default" href="..\Customers\ViewCustomerProfile" style="color:Blue">Go &raquo;</a></p>
    </div>

  
</div>