
@{
    ViewBag.Title = "CustomerHome";
}

<div class="jumbotron">
    <h1>Customer Homepage</h1>
    <p class="lead">Hello World</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step Two: Let Us Know Your Troubles</h2>
        <p>Select your technical issue from a basic drop down menu, and add any details you can in the comment box.</p>
        <p><a class="btn btn-default" href="..\Customers\InputIssue">Submit Request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step Three: Rate Us!</h2>
        <p>Let us know how we did!  Rate us on a 5-star scale.  If your service was any less than perfect, let us know what we could have done to make it a 5-star experience.</p>
        <p><a class="btn btn-default" href="..\Customers\RateHelp">Rate Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make Payment</h2>
        <p>See your outstanding balance and make payments to your account here.</p>
        <p><a class="btn btn-default" href="..\Customers\MakePayment">Make Payment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View/Edit Profile</h2>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>

</div>