@model NerdsOnWheels.Models.Service
@{
    ViewBag.Title = "InputIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Problems</h2>



@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <td>General Probelms: </td>
        <td>
            <div class="form-group">
                @Html.DropDownListFor(m => m.AssistanceRequestType, new List<SelectListItem>
                { new SelectListItem{Text="Hardware", Value="Hardware"},
                 new SelectListItem{Text="Software", Value="Software"},
                 new SelectListItem{Text="Internet", Value="Internet"},
                 new SelectListItem{Text="Other", Value="Other"},}, "Please select")
            </div>
            
        </td>
        <br />
        <br />
        <div>
            <td> Try to describe what your issue is. If you don't know what your issue is at all, leave this box as is.</td>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistanceRequestDescription, new { htmlAttributes = new { @class = "form-control" } })
                .
                @Html.ValidationMessageFor(model => model.AssistanceRequestDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report Issue" class="btn btn-default" href="InputIssue"  />
            </div>
        </div>

        @*<div class="col-md-4">
            <h2>Find a Tech</h2>
            <p>Get help from a tech in your area</p>
            <p><a class="btn btn-default" href="TechMap">Submit Issue &raquo;</a></p>
        </div>*@
<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}

