
@{
    ViewBag.Title = "LearnMore";
}

<h2>Learn More</h2>

<div>
    <p>
        Step One: Create Your Profile
        Create an account and profile. Once we have your basic information, we can find out how to help you!
    </p>
    <p>
        Step Two: Let Us Know Your Troubles
        Select your technical issue from a basic drop down menu, and add any details you can in the comment box.
    </p>
    <p>
        Step Three: Rate Us!
        Let us know how we did! Rate us on a 5-star scale. If your service was any less than perfect, let us know what we could have done to make it a 5-star experience.
    </p>
</div>