@model NerdsOnWheels.Models.Service
<!DOCTYPE html>
<html>

<head>
</head>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <h2>Rate Help</h2>
    <br />
    <h3>If you'd like, please take a moment to rate your service today (otherwise, leave blank). Out of 5 stars, how would you rate your specialist's ability to solve your problem? </h3>
    <br />

    <div class="form-group">
        @Html.DropDownListFor(m => m.Rating, new List<SelectListItem>
                { new SelectListItem{Text="1", Value="1"},
                 new SelectListItem{Text="2", Value="2"},
                 new SelectListItem{Text="3", Value="3"},
                 new SelectListItem{Text="4", Value="4"},
                 new SelectListItem{Text="5", Value="5"},}, "Please rate!")
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Rate!" class="btn btn-default" href="InputIssue" style="color:Blue" />
        </div>
    </div>

</body>
</html>