@*incorporate model for techs here  ex. Vidly.Models.Movie*@
@{
    ViewBag.Title = "TechMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TechMap</h2>
@*@foreach (Employee tech in Model)*@
{

}