@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>Nerds so fast you'll freak! Have a tech problem? Contact us, and we will see if we can fix your problem via video consultation. If not, one of our techs will be there uber fast!.</p>
