
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v1.2/twilio-chat.min.js"></script>