@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Nerds On Wheels!</h1>
    <p class="lead">Nerds so fast you'll freak!  Have a tech problem?  Chat us, and we will see if we can fix your problem remotely.  If not, one of our techs will be there uber fast!</p>
    <p><a class="btn btn-primary btn-lg" href="..\Customers\LearnMore" >Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer: Create Your Profile</h2>
        <p>
            Create an account and profile.  Once we have your basic information, we can find out how to help you!
        </p>
        <p><a class="btn btn-default" href="..\Account\Register">Create Profile &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Already Logged In?  Get Started Here!</h2>
        <p>
            Report a problem, and we'll send a Nerd to the rescue!
        </p>
        <p><a class="btn btn-default" href="..\Customers\CustomerHome">Get Started &raquo;</a></p>
    </div>

    
</div>


<div>
    <div class="col-md-4">
        <h2>Employee: Create Your Profile</h2>
        <p>
            Nerds unite!  Find tech problems reported in your area, and get connected with that person to help fix their issue.
        </p>
        <p><a class="btn btn-default" href="..\Account\EmployeeRegister">Create Profile &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Admin Login</h2>
        <p>If you are an Administrator of Nerds On Wheels, use your credentials to log in here.</p>
        <p><a class="btn btn-default" href="http://localhost:22799/Account/Login">Admin Login &raquo;</a></p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

