@model IEnumerable<NerdsOnWheels.Models.Service>
@{
    ViewBag.Title = "ShowOpenTickets";
}

<h2>Open Tickets</h2>

@foreach (var ticket in Model)
{
    <tr>
        <td>
            @Html.ActionLink(ticket.AssistanceRequestDescription, "Details", "Services")
    </td>
    <td>@Html.ActionLink("Claim", "ClaimTicket", "Technicians", new { id = ticket.Id }, null)</td>
        <!--  In ClaimTicket method, change isTicketOpen to false and assign TechnicianId, HttpPut, -->
        <br />
    </tr>
}

@*Accept Button*@

